body, html {
	height: 100%;
	margin: 0px;
	min-height: 100%;
}

#menu, #banniere_image, #formevent, #sug_event, #map, 
#sug_amis, #dernier_match, #amis, #connexion, #deconnexion, #inscription, #inscript,
 #liste_amis, table, td, th, #amis, #profil, #formmodifevent {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	text-align: center;
	align-content: center;
	color: black;
}

#titre_principal
{
	text-align: center;
	align-content: center;
	color: white;
	padding-top: 40px;
}



#whatthefoot 
{
	margin-right: 100px;
}

header
{
	background-color: green;
}

#inscript {
	width: 150px;
}

#deconnexion {
	width: 150px;
}

#menu ul, li {
	text-decoration: none;
	list-style: none;
}

#map {
	width: 1600px;
	height: 600px;
}

#sug_event, #sug_amis {
	height: 400px;
}

footer {
	margin-top: 50px;
	text-align: center;
}

#dernier_match, #amis {
	width: 500px;
}

table {
border: medium solid #000000;
width: 80%;
}
td, th {
border: thin solid #6495ed;
width: 50%;
}

#wtf {
	width: 100%;
}