#titre_principal, #menu, #banniere_image, #sug_event, #map, #sug_amis, #dernier_match, #amis, #connexion, #deconnexion, #inscription, #inscript, #liste_amis {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	text-align: center;
}


#inscript {
	width: 150px;
}

#banniere_image {
	width: 1600px;
	height: 150px;
}

#menu ul, li {
	text-decoration: none;
	list-style: none;
}

#map {
	width: 1600px;
	height: 600px;
}

#sug_event, #sug_amis {
	height: 400px;
}

footer {
	margin-top: 50px;
	text-align: center;
}

#dernier_match, #amis {
	width: 500px;
}