#titre_principal, #menu, #banniere_image, #sug_event, #map, #sug_amis, #dernier_match, #amis, #liste_amis {
	border: 3px solid black;
	margin: 5px;
	text-align: center;
}

#banniere_image {
	width: 1600px;
	height: 150px;
}

#menu ul, li {
	text-decoration: none;
	list-style: none;
}

#map {
	width: 1600px;
	height: 600px;
}

#sug_event {
	margin-left: 50px;
}

#sug_event, #sug_amis {
	height: 400px;
}